#wishlist {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 1rem;
}

.wishlist-container {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.wishlist-container .card .btn-group,
.wishlist-container .card .btn-group .btn {
  width: 100%;
}

.empty-wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .wishlist-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
