.modal-content.coupon {
    width: 50vh;
    height: fit-content;
}
.coupon-item {
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-tertiary-dark);
    border-radius: var(--border-radius-3);
}

.coupon-item:not(:last-child) {
    margin-bottom: 1rem;
}

.coupon-name {
    padding: 0.4rem 0.6rem;
    margin-right: 0.5rem;
    border: 2px dashed var(--color-primary-light);
    border-radius: var(--border-radius-3);
}

.coupon-item.active {
    background-color: var(--color-tertiary-dark);
}

.coupon-item ~ .btn {
    width: 100%;
}

.price-discount {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--color-success);
}

.price-close {
    cursor: pointer;
    color: var(--color-error);
}