#product {
  display: flex;
}

.product-aside {
  flex: 0 0 250px;
  padding: 1rem 1.5rem;
  height: 100vh;
  position: sticky;
  top: 60px;
  left: 0;
}

.product-list {
  padding: 0 1rem;
  width: 100%;
}

.aside-header,
.product-heading {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-grey-dark-3);
}

.aside-header {
  pointer-events: none;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

.aside-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-heading,
.filter:not(:last-child) {
  border-bottom: 1px solid var(--color-tertiary-dark);
}

.filter,
.aside-heading,
.aside-heading {
  padding: 1rem 0;
}

.filter > *:not(.filter-heading) {
  color: var(--color-grey-dark);
}

.filter-heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.main-content {
  height: 100%;
}

.wishlist {
  font-size: 2.5rem;
}

.card-rating {
  font-size: 1.35rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  padding: 0.5rem 0.85rem;
  margin-left: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-3);
}

.card-star {
  color: var(--color-warning);
}

.current-price {
  font-weight: 900;
  font-size: 1.6rem;
}

.selected {
  background-color: var(--color-tertiary-dark);
  color: var(--color-secondary-dark);
}

.product-heading {
  font-size: 2rem;
  margin: 2rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.product-heading::after {
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

.vertical .card-image-container {
  height: 20rem;
}

.vertical .card-image {
  object-fit: contain;
  background-color: #fff;
}

#product .btn-group,
#product .btn {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .product-aside {
    /* flex: 0 0 200px; */
    position: fixed;
    bottom: 0;
    top: initial;
    height: unset;
    z-index: 15;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-tertiary);
  }
  .filter-open {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--color-tertiary);
  }
  .filter-section {
    display: none;
    max-height: calc(100% - 60px);
  }
  .filter-open .filter-section {
    display: block;
  }
  .aside-heading {
    cursor: pointer;
    border-bottom: none;
  }
  .aside-header {
    pointer-events: all;
  }
  .filter > * {
    font-size: 2rem;
  }
  .radio-btn {
    top: 2px;
  }
}
@media only screen and (max-width: 600px) {
  .product-list {
    margin: auto;
    padding: 0;
  }
  .grid.layout-3-column {
    grid-template-columns: 1fr 1fr;
  }
  .product-heading {
    font-size: 3rem;
  }
}
