@import url("./components/navbar/navbar.css");
@import url("./components/carousel/carousel.css");
@import url("./components/feature-card/featureCard.css");
@import url("./components/footer/footer.css");
@import url("./components/loader/loader.css");
@import url("./components/scrolltop/scrollTop.css");
@import url("./components/ErrorPage/errorPage.css");
@import url("./components/account/account.css");
@import url("./components/order/orderCard.css");
@import url("./pages/Home/home.css");
@import url("./pages/Auth/auth.css");
@import url("./pages/Cart/cart.css");
@import url("./pages/Products/Product.css");
@import url("./pages/ProductDetails/productDetails.css");
@import url("./pages/Wishlist/wishlist.css");
@import url("./pages/Profile/profile.css");
@import url("./pages/Checkout/checkout.css");

body {
  overflow: auto;
}

.section-heading {
  font-size: 4rem;
  color: var(--color-grey-dark-3);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-heading::after {
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

section {
  padding: 2.5rem 1.8rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary-dark);
  border-radius: 100px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-dark-2);
}
